<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="https://unpkg.com/vue@3.0.2"></script>
</head>

<body >

<div id="main">
<div id="list" v-if="UI=='main'">
	<h1>商品清單</h1>
	<table border=1>
		<tr><td>序號</td><td>商品名稱</td><td>單價</td><td>商品說明</td><td>-</td></tr>
		<tr v-for="pro in dat">
			<td>{{pro.id}}</td>
			<td>{{pro.pName}}</td>
			<td>{{pro.price}}</td>
			<td>{{pro.description}}</td>
			<td><button @click="setQanUI(pro)">加入購物車</button></td>
		</tr>
		<button @click="setUI1('editForm')">查看購物車</button>
	</table>
	<br>
	<button @click="getCookies()">getCookiesValue</button>
</div>


<div v-if="UI=='editForm'">
	<h1>我的購物車</h1>
	<button @click="setUI('main')">返回商品清單</button>
	<table border=1>
	<tr><td>序號</td><td>商品名稱</td><td>單價</td><td>商品說明</td>
		<td>數量</td><td>總價</td>
		<td>-</td>
	</tr>
	<tr v-for="pro in dat">
		<td>{{pro.id}}</td>
		<td>{{pro.pName}}</td>
		<td>{{pro.price}}</td>
		<td>{{pro.description}}</td>
		<td>{{pro.num}}</td>
		<td>{{pro.total}}</td>
		<td><button @click="delJob(pro.id)">刪</button></td>
	</tr>
</table>
<p>總價:<span id="totalPrice"></span></p>
</div>
<div v-if="UI=='editForm2'">
	商品名稱: {{newPro.pName}} <br/>

	單價: {{newPro.price}} <br>

	商品說明: {{newPro.description}}<br>
	
	數量: <input type="text" v-model="newPro.num"><br>

	<input type='button' @click="addJob(pro)" value="save">
</div>
</div>

<script>
const todoApp= Vue.createApp({
	data() {
		return {
			UI: 'main',// 表示當前的介面，初始為 'main'
			dat: [],// 存放購物清單數據的陣列
			newPro: {// 新增或編輯專案或購物清單時的預設數據
				id: -1,
				pName: '',
				price: '',
				description: '',
				num: 0,
				total: 0,
				username: ''
			}
		}
	},
	watch: {
        UI(newUI) {
            if (newUI === 'editForm') {
                // Only fetch the total price when UI is 'editForm'
                this.fetchTotalPrice();
                // Set up an interval to keep fetching the total price
                this.totalPriceInterval = setInterval(this.fetchTotalPrice, 100);
            } else {
                // Clear the interval when UI is not 'editForm'
                clearInterval(this.totalPriceInterval);
            }
        },
    },
	methods: {
		getCookies: function() {
			// Create a regular expression to match the 'client' cookie and its value
			var regex = new RegExp('(^|; )client=([^;]*)');
			// Use the regular expression to find a match in the document.cookie string
			var match = document.cookie.match(regex);

			// If a match is found, log the value of the 'client' cookie, otherwise log a message
			if (match) {
			  var clientValue = match[2];
			  console.log('Value of the "client" cookie:', clientValue);
			} else {
			  console.log('Cookie "client" not found');
			}
		},
		loadList: function () {
			const that=this; //this  ==> stands for vm6. let's save `this` to `that`
			fetch('ManagementControll.php?act=listPro') // 使用 fetch 發送 GET 請求獲取列表
			.then(function(response) {
				return response.json();
			})
			.then(function(myJson) {
				//we are inside the callback function, now `this` means the function, not vm6
				//we will use `that` to access vm6
				that.dat = myJson;
				//vm6.dat = myJson;
			});
		},
		loadshoppingList: function () {
			const that=this; //this  ==> stands for vm6. let's save `this` to `that`//// 將 this 保存到 that 中
			fetch('ManagementControll.php?act=listshopping') // 使用 fetch 發送 GET 請求獲取購物清單
			.then(function(response) {
				return response.json();
			})
			.then(function(myJson) {
				//we are inside the callback function, now `this` means the function, not vm6
				//we will use `that` to access vm6
				that.dat = myJson;
				//vm6.dat = myJson;
			});
		},
		addJob: function () {
			const that=this;
			let mydat = new FormData();
			mydat.append( "dat", JSON.stringify(this.newPro) );

			let url="ManagementControll.php?act=addJob";
			fetch(url,{
				method: 'POST',
				body: mydat // 將表單物件放入fetch的body屬性
			})
			.then(function(res){return res.text(); }) //取得傳回值，轉為文字
			.then(function(data){ 
				console.log(data);
				that.setUI('main');
				//that.loadList();
			})
		},
		delJob: function (id) {
			const that=this;
			let url="ManagementControll.php?act=delJob&id="+id;
			fetch(url,{
				method: 'POST'
			})
			.then(function(res){return res.text(); }) //取得傳回值，轉為文字
			.then(function(data){
				console.log(data);
				that.setUI1('editForm');
				//that.loadshoppingList();
			})
		},
		fetchTotalPrice: function() {
			const that = this;
			let url="ManagementControll.php?act=countP";
			fetch(url, {
				method: 'POST'
			})
			.then(response => response.text())
			.then(data => {
				document.getElementById('totalPrice').innerText = data;
			})
			.catch(error => {
				console.error('Error fetch total price', error);
			})
		},
		setQanUI: function(pro) {
			this.newPro=pro;
			// this.newPro.username='123'; // 先將名字放入newPro
			this.setUI('editForm2'); // 調用 setUI 方法，將介面設置為 'editForm2'
		},
		setUI: function(page) {
			this.UI=page;
			this.loadList();//載入列表
		},
		setUI1: function(page) {
			this.UI=page;
			this.loadshoppingList();
		}
		
	},
	created() {
		this.loadList();
	}
}).mount("#main");
</script>
</body>
</html>