<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="https://unpkg.com/vue@next"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>

<body>
    <hr />
    <div id="main">
        <div id="list" v-if="UI=='main'">
            <h1>This is the main page.</h1>
            <hr />
            <input type='button' @click="logout()" value="logout" />
        </div>
        <div v-if="UI=='loginForm'">
            Name:<input type="text" v-model="username" />
            <br />
            Password: <input type="text" v-model="pwd" />
            <br />
            Role:
            <select v-model="selectedRole">
                
                <option value="1">Customer</option>
                
                <option value="2">Merchant</option>
            </select>
            <br />
            <input type='button' @click="login()" value="login" /> <br />
            <input type='button' @click="goToRegisterForm()" value="register" /> <br />
        </div>
        <div v-if="UI=='registerForm'">
            <h1>This is the register page.</h1>
            Name: <input type="text" v-model="username" />
            <br />
            Password: <input type="text" v-model="pwd" />
            <br />
            Role:
            <select v-model="selectedRole">
                
                <option value="1">Customer</option>
                
                <option value="2">Merchant</option>
            </select>
            <br />
            <input type='button' @click="register()" value="register" /> <br />
        </div>
        <hr />
        {{info}}
        <input type='button' @click="loadInfo()" value="load Info" /> <br />
    </div>

    <script>
        const todoApp = Vue.createApp({
            data() {
                return {
                    UI: '',
                    id: '',
                    name:'',
                    pwd: '',
                    selectedRole: '',
                    info: 'xx',
                };
            },
            methods: {
                goToRegisterForm: function() {
                    this.UI = 'registerForm'; // 更改UI狀態為註冊表單
                },

                setUI: function (page) {
                    this.UI = page;
                },
                checkLogin: function () {
                    const role = Cookies.get('loginRole');
                    if (role > 0) {
                        this.setUI('main');
                    } else {
                        this.setUI('loginForm');
                    }
                },
                login: function () {
                    const that = this;
                    let mydat = new FormData();
                    mydat.append('username', this.name);
                    mydat.append('pwd', this.pwd);
                    mydat.append('role', this.selectedRole);

                    let url = 'http://localhost/login/2.%20use%20DB/loginCheck.php';

                    fetch(url, {
                        method: 'POST',
                        body: mydat,
                    })
                        .then(function (res) {
                            return res.json();
                        })
                        .then(function (data) {
                            console.log(data);
                            that.checkLogin();
                        });
                },
                
                register: function () {
                    const that = this;
                    let mydat = new FormData();
                    mydat.append('username', this.name);
                    mydat.append('pwd', this.pwd);
                    mydat.append('role', this.selectedRole);

                    let url = 'http://localhost/login/2.%20use%20DB/loginCheck.php?act=register';

                    fetch(url, {
                        method: 'POST',
                        body: mydat,
                    })
                        .then(function (res) {
                            return res.json();
                        })
                        .then(function (data) {
                            console.log(data);
                            that.checkLogin();
                        });
                },
                loadInfo: function () {
                    const that = this;
                    let mydat = new FormData();
                    mydat.append('act', 'showInfo');
                    let url = 'loginCheck.php';

                    fetch(url, {
                        method: 'POST',
                        body: mydat,
                    })
                        .then(function (res) {
                            return res.text();
                        })
                        .then(function (data) {
                            that.info = data;
                        });
                },
                logout: function () {
                    Cookies.set('loginRole', 0, { path: '' });
                    this.checkLogin();
                },
            },
            created() {
                this.checkLogin();
            },
        }).mount('#main');
    </script>
</body>
</html>
